---
import Layout from '../../layouts/Layout.astro'
import inmuebles from '../../data/preventa'
import View from '../../components/reactComponents/View'
import Formulario2 from '../../components/reactComponents/Formulario2'

export async function getStaticPaths () {
    const inmueble = inmuebles

    return inmueble.map((p) => {
        return {
            params: { preventa: p.url},
            props: { p }
        }
    })
}

const {preventa} = Astro.params
const { p } = Astro.props

---


<Layout title={preventa}>
    <div>
        <View client:load
        nombre={p.nombre}
        medidas={p.medidas}
        caracteristica1={p.caracteristica1}
        caracteristica2={p.caracteristica2}
        precio={p.precio}
        categoria={p.categoria}
        descripcion={p.descripcion}
        direccion={p.direccion}
        image1={p.imagen}
        image2={p.imagen2}
        image3={p.imagen3}
        image4={p.imagen4}
        image5={p.imagen5}
        image6={p.imagen6}
        image7={p.imagen7}
        image8={p.imagen8}
        image9={p.imagen9}
        image10={p.imagen10}
        />
        <Formulario2  inmueble={p.nombre} codigo={p.codigo} client:load/>
    </div>
</Layout>

